# Google Pixel 3a (sargo) board-level devices.

# Buttons and touchscreen.
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_KEYBOARD_GPIO=y
CONFIG_INPUT_PM8941_PWRKEY=y
CONFIG_RMI4_CORE=m
CONFIG_RMI4_I2C=m
CONFIG_RMI4_2D_SENSOR=y
CONFIG_RMI4_F12=y
CONFIG_HID_RMI=m

# Battery, PM660 charger, and ADCs.
CONFIG_POWER_SUPPLY=y
CONFIG_CHARGER_QCOM_SMB2=m
CONFIG_IIO=y
CONFIG_QCOM_VADC_COMMON=m
CONFIG_QCOM_SPMI_RRADC=m
CONFIG_QCOM_SPMI_ADC5=m
