[Unit]
Description=Select the Sargo carrier modem configuration before ModemManager
Requires=rmtfs.service pocketfed-sargo-uim-select.service
Wants=blob-wrangler.service
After=blob-wrangler.service rmtfs.service pocketfed-sargo-uim-select.service
Before=ModemManager.service

[Service]
Type=oneshot
EnvironmentFile=-/usr/lib/pocketfed/sargo-sim.conf
EnvironmentFile=-/etc/pocketfed/sargo-sim.conf
ExecStart=/usr/libexec/pocketfed-sargo-mcfg
TimeoutStartSec=240s

[Install]
WantedBy=ModemManager.service
