[Unit]
Description=Select the Sargo USIM application before ModemManager
Requires=rmtfs.service
After=rmtfs.service
Before=ModemManager.service

[Service]
Type=oneshot
EnvironmentFile=-/usr/lib/pocketfed/sargo-sim.conf
EnvironmentFile=-/etc/pocketfed/sargo-sim.conf
ExecStart=/usr/libexec/pocketfed-sargo-uim-select
TimeoutStartSec=120s

[Install]
WantedBy=multi-user.target ModemManager.service
